.idea/
.vscode/
out/
*.class
*.jar

# Credenciais locais
.env
*.tfvars
!*.tfvars.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
